In [2]:
import pandas as pd
import os

In [7]:
df = pd.read_csv("~/Documents/Chase/Capstone/County/output/data_kmeans.csv")

We will now preforms some basic aggregations on grouped by cluster.

In [9]:
df.groupby(['kmean_label'])['2011-2016 Total Deaths'].mean().reset_index(name="Mean Deaths")

   kmean_label  Mean Deaths
0            0    55.467742
1            1  1253.333333
2            2   223.200000